/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}
div.react-tags-count-container{
    width: 44px;
    height: 25px;
    background: aliceblue;
    border-radius: 11px;
}
div.react-tags-count{
    padding: 11px;
    display: inline;
}


/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    font-size: 15px;
    display: inline-block;
    /* padding: 5px; */
    margin: 0 3px;
    border-radius: 2px;
    color: #5581ec;
    font-weight: 600;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: relative;
    margin-top: 20px;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    /* box-shadow: .05em .01em .5em rgba(0,0,0,.2); */
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    /* border-bottom: 1px solid #ddd; */
    /* padding: 5px 10px; */
    /* margin: 0; */
}
div.ReactTags__suggestions li mark {
    /* text-decoration: underline; */
    background: none;
    color: #1b2427;
    letter-spacing: -0.66;

    /* font-weight: 600; */
    /* font-size: 15px; */
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    /* background: #b7cfe0; */
    cursor: pointer;
}
